# flyctl launch added from .gitignore
**/.next



**/web-ui/src/app/api/webgpu-examples
**/notebooks/agentic_ui
**/course_content/src/components/mixing-webgl-threejs/static
**/web/emails.txt

**/spotlight-ts
**/web/src/cgi-tools/*

**/web/public/images
**/my-app/public/*
**/web-ui/demos
**/demos
**/pdfs
**/previous_static
**/data.json
**/web-ui/user_code/tmp/web_bg.wasm
**/web-ui/user_code/tmp/webgpu-examples
**/200k_prs/client-sdk-js
**/output.png
**/data/images
**/data/papers
**/data/texts

**/ObservableRobotRemote
**/data/db/code_annotation.db
**/data/alan_kay/images
**/data/diagrams
**/vendor

**/data/alan_kay
**/data/alan_kay
**/scripts/infra/uv_example

**/bun.lockb
**/.air.toml

**/scripts/infra/supporting_site/chrome-extension
**/scripts/infra/Dot-files
**/data.jsong


**/alan_kay
**/static/pdfs
**/.venv
**/services/homelab-status-page/static/three.js-dev/*
**/*.pt
**/*.ivf
**/*.h264
**/node_modules
**/infra/temp_log.txt
.observablehq/cache
**/services/homelab-status-page/static/webcam.jpg
**/services/homelab-status-page/static/jupyter_webcam.jpg
**/services/homelab-status-page/static/webcam.jpg
services/homelab-status-page/vendor

**/services/perception-stack/sam2_hiera_base_plus.pt
**/services/perception-stack/sam2_hiera_large.pt
**/services/perception-stack/sam2_hiera_small.pt
**/services/perception-stack/sam2_hiera_tiny.pt
**/services/perception-stack/notebooks/videos
checkpoints
**/.vscode
**/.DS_Store
**/__pycache__
**/*-checkpoint.ipynb
**/.venv
**/*.egg*
**/build/*
**/_C.*
**/outputs/*
**/checkpoints/*.pt
**/yolov8n.onnx
**/yolov8n.pt
**/runs
**/.zed
**/.venv
**/node_modules
**/declaration-of-war-against.md
gomod2nix-template
**/flake.lock
# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
**/node_modules

# Nat Metro
**/.metro-health-check*

# debug
**/npm-debug.*
**/yarn-debug.*
**/yarn-error.*

# macOS
**/.DS_Store
**/*.pem

# local env files
**/.env*.local

# typescript
**/*.tsbuildinfo


**/nb-venv/*

# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
**/*.exe
**/*.exe~
**/*.dll
**/*.so
**/*.dylib

# Test binary, built with `go test -c`
**/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
**/*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
**/go.work
**/result

**/.ipynb_checkpoints
**/flake.lock

**/page
**/.env

# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
**/*.exe
**/*.exe~
**/*.dll
**/*.so
**/*.dylib

# Test binary, built with `go test -c`
**/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
**/*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
**/go.work
**/go.work.sum

# env file
**/.env


# Translations
**/*.mo
**/*.pot

# Django stuff:
**/*.log
**/local_settings.py
**/db.sqlite3
**/db.sqlite3-journal

# Flask stuff:
**/instance
**/.webassets-cache

# Scrapy stuff:
**/.scrapy

# Sphinx documentation
**/docs/_build

# PyBuilder
**/.pybuilder
**/target

# Jupyter Notebook
**/.ipynb_checkpoints

# IPython
**/profile_default
**/ipython_config.py

**/.#*

# flyctl launch added from course_content/.gitignore
course_content/**/.DS_Store
course_content/dist
course_content/**/node_modules
course_content/**/yarn-error.log

# flyctl launch added from course_content/src/.gitignore
course_content/src/.observablehq/cache

# flyctl launch added from scripts/.gitignore
# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Logs

scripts/**/logs
scripts/**/_.log
scripts/**/npm-debug.log_
scripts/**/yarn-debug.log*
scripts/**/yarn-error.log*
scripts/**/lerna-debug.log*
scripts/**/.pnpm-debug.log*

# Caches 

scripts/**/.cache

# Diagnostic reports (https://nodejs.org/api/report.html)

scripts/**/report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Runtime data

scripts/**/pids
scripts/**/_.pid
scripts/**/_.seed
scripts/**/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover

scripts/**/lib-cov

# Coverage directory used by tools like istanbul

scripts/**/coverage
scripts/**/*.lcov

# nyc test coverage

scripts/**/.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)

scripts/**/.grunt

# Bower dependency directory (https://bower.io/)

scripts/**/bower_components

# node-waf configuration

scripts/**/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)

scripts/**/build/Release

# Dependency directories

scripts/**/node_modules
scripts/**/jspm_packages

# Snowpack dependency directory (https://snowpack.dev/)

scripts/**/web_modules

# TypeScript cache

scripts/**/*.tsbuildinfo

# Optional npm cache directory

scripts/**/.npm

# Optional eslint cache

scripts/**/.eslintcache

# Optional stylelint cache

scripts/**/.stylelintcache

# Microbundle cache

scripts/**/.rpt2_cache
scripts/**/.rts2_cache_cjs
scripts/**/.rts2_cache_es
scripts/**/.rts2_cache_umd

# Optional REPL history

scripts/**/.node_repl_history

# Output of 'npm pack'

scripts/**/*.tgz

# Yarn Integrity file

scripts/**/.yarn-integrity

# dotenv environment variable files

scripts/**/.env
scripts/**/.env.development.local
scripts/**/.env.test.local
scripts/**/.env.production.local
scripts/**/.env.local

# parcel-bundler cache (https://parceljs.org/)

scripts/**/.parcel-cache

# Next.js build output

scripts/**/.next
scripts/**/out

# Nuxt.js build / generate output

scripts/**/.nuxt
scripts/**/dist

# Gatsby files

# Comment in the public line in if your project uses Gatsby and not Next.js

# https://nextjs.org/blog/next-9-1#public-directory-support

# public

# vuepress build output

scripts/**/.vuepress/dist

# vuepress v2.x temp and cache directory

scripts/**/.temp

# Docusaurus cache and generated files

scripts/**/.docusaurus

# Serverless directories

scripts/**/.serverless

# FuseBox cache

scripts/**/.fusebox

# DynamoDB Local files

scripts/**/.dynamodb

# TernJS port file

scripts/**/.tern-port

# Stores VSCode versions used for testing VSCode extensions

scripts/**/.vscode-test

# yarn v2

scripts/**/.yarn/cache
scripts/**/.yarn/unplugged
scripts/**/.yarn/build-state.yml
scripts/**/.yarn/install-state.gz
scripts/**/.pnp.*

# IntelliJ based IDEs
scripts/**/.idea

# Finder (MacOS) folder config
scripts/**/.DS_Store

# flyctl launch added from scripts/deno-webgpu/deno-webgpu-window-demos/.gitignore
scripts/deno-webgpu/deno-webgpu-window-demos/**/node_modules
scripts/deno-webgpu/deno-webgpu-window-demos/**/vendor
scripts/deno-webgpu/deno-webgpu-window-demos/.vscode

# flyctl launch added from scripts/deno-webgpu/deno-webgpu-window-demos/threejs/.gitignore
scripts/deno-webgpu/deno-webgpu-window-demos/threejs/models
scripts/deno-webgpu/deno-webgpu-window-demos/threejs/textures
scripts/deno-webgpu/deno-webgpu-window-demos/threejs/fonts
scripts/deno-webgpu/deno-webgpu-window-demos/threejs/ies
scripts/deno-webgpu/deno-webgpu-window-demos/threejs/materialx
scripts/deno-webgpu/deno-webgpu-window-demos/threejs/jsm

# flyctl launch added from scripts/deno-webgpu/webgpu-examples/.gitignore
# OS files
scripts/deno-webgpu/webgpu-examples/**/.DS_Store
scripts/deno-webgpu/webgpu-examples/**/.cache
scripts/deno-webgpu/webgpu-examples/**/mod.js

# IDE
scripts/deno-webgpu/webgpu-examples/**/.vscode
scripts/deno-webgpu/webgpu-examples/**/.idea

# flyctl launch added from scripts/src/archive/web/.gitignore
# deps
scripts/src/archive/web/**/node_modules

# flyctl launch added from scripts/src/archive/web/.venv/.gitignore
scripts/src/archive/web/.venv/**/*

# flyctl launch added from scripts/src/infra/robotics-university/.gitignore
# Logs

scripts/src/infra/robotics-university/**/logs
scripts/src/infra/robotics-university/**/_.log
scripts/src/infra/robotics-university/**/npm-debug.log_
scripts/src/infra/robotics-university/**/yarn-debug.log*
scripts/src/infra/robotics-university/**/yarn-error.log*
scripts/src/infra/robotics-university/**/lerna-debug.log*
scripts/src/infra/robotics-university/**/.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)

scripts/src/infra/robotics-university/**/report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Runtime data

scripts/src/infra/robotics-university/**/pids
scripts/src/infra/robotics-university/**/_.pid
scripts/src/infra/robotics-university/**/_.seed
scripts/src/infra/robotics-university/**/\*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover

scripts/src/infra/robotics-university/**/lib-cov

# Coverage directory used by tools like istanbul

scripts/src/infra/robotics-university/**/coverage
scripts/src/infra/robotics-university/**/\*.lcov

# nyc test coverage

scripts/src/infra/robotics-university/**/.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)

scripts/src/infra/robotics-university/**/.grunt

# Bower dependency directory (https://bower.io/)

scripts/src/infra/robotics-university/**/bower_components

# node-waf configuration

scripts/src/infra/robotics-university/**/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)

scripts/src/infra/robotics-university/**/build/Release

# Dependency directories

scripts/src/infra/robotics-university/**/node_modules
scripts/src/infra/robotics-university/**/jspm_packages

# Snowpack dependency directory (https://snowpack.dev/)

scripts/src/infra/robotics-university/**/web_modules

# TypeScript cache

scripts/src/infra/robotics-university/**/\*.tsbuildinfo

# Optional npm cache directory

scripts/src/infra/robotics-university/**/.npm

# Optional eslint cache

scripts/src/infra/robotics-university/**/.eslintcache

# Optional stylelint cache

scripts/src/infra/robotics-university/**/.stylelintcache

# Microbundle cache

scripts/src/infra/robotics-university/**/.rpt2_cache
scripts/src/infra/robotics-university/**/.rts2_cache_cjs
scripts/src/infra/robotics-university/**/.rts2_cache_es
scripts/src/infra/robotics-university/**/.rts2_cache_umd

# Optional REPL history

scripts/src/infra/robotics-university/**/.node_repl_history

# Output of 'npm pack'

scripts/src/infra/robotics-university/**/\*.tgz

# Yarn Integrity file

scripts/src/infra/robotics-university/**/.yarn-integrity

# dotenv environment variable files

scripts/src/infra/robotics-university/**/.env
scripts/src/infra/robotics-university/**/.env.development.local
scripts/src/infra/robotics-university/**/.env.test.local
scripts/src/infra/robotics-university/**/.env.production.local
scripts/src/infra/robotics-university/**/.env.local

# parcel-bundler cache (https://parceljs.org/)

scripts/src/infra/robotics-university/**/.cache
scripts/src/infra/robotics-university/**/.parcel-cache

# Next.js build output

scripts/src/infra/robotics-university/**/.next
scripts/src/infra/robotics-university/**/out

# Nuxt.js build / generate output

scripts/src/infra/robotics-university/**/.nuxt
scripts/src/infra/robotics-university/**/dist

# Gatsby files

scripts/src/infra/robotics-university/**/.cache

# Comment in the public line in if your project uses Gatsby and not Next.js

# https://nextjs.org/blog/next-9-1#public-directory-support

# public

# vuepress build output

scripts/src/infra/robotics-university/**/.vuepress/dist

# vuepress v2.x temp and cache directory

scripts/src/infra/robotics-university/**/.temp
scripts/src/infra/robotics-university/**/.cache

# Docusaurus cache and generated files

scripts/src/infra/robotics-university/**/.docusaurus

# Serverless directories

scripts/src/infra/robotics-university/**/.serverless

# FuseBox cache

scripts/src/infra/robotics-university/**/.fusebox

# DynamoDB Local files

scripts/src/infra/robotics-university/**/.dynamodb

# TernJS port file

scripts/src/infra/robotics-university/**/.tern-port

# Stores VSCode versions used for testing VSCode extensions

scripts/src/infra/robotics-university/**/.vscode-test

# yarn v2

scripts/src/infra/robotics-university/**/.yarn/cache
scripts/src/infra/robotics-university/**/.yarn/unplugged
scripts/src/infra/robotics-university/**/.yarn/build-state.yml
scripts/src/infra/robotics-university/**/.yarn/install-state.gz
scripts/src/infra/robotics-university/**/.pnp.\*

# wrangler project

scripts/src/infra/robotics-university/**/.dev.vars
scripts/src/infra/robotics-university/**/.wrangler

# flyctl launch added from scripts/src/infra/supporting_site/remote-robot-controller/.gitignore
scripts/src/infra/supporting_site/remote-robot-controller/**/node_modules
scripts/src/infra/supporting_site/remote-robot-controller/**/.expo
scripts/src/infra/supporting_site/remote-robot-controller/**/dist
scripts/src/infra/supporting_site/remote-robot-controller/**/npm-debug.*
scripts/src/infra/supporting_site/remote-robot-controller/**/*.jks
scripts/src/infra/supporting_site/remote-robot-controller/**/*.p8
scripts/src/infra/supporting_site/remote-robot-controller/**/*.p12
scripts/src/infra/supporting_site/remote-robot-controller/**/*.key
scripts/src/infra/supporting_site/remote-robot-controller/**/*.mobileprovision
scripts/src/infra/supporting_site/remote-robot-controller/**/*.orig.*
scripts/src/infra/supporting_site/remote-robot-controller/**/web-build

# macOS
scripts/src/infra/supporting_site/remote-robot-controller/**/.DS_Store

# @generated expo-cli sync-2b81b286409207a5da26e14c78851eb30d8ccbdb
# The following patterns were generated by expo-cli

scripts/src/infra/supporting_site/remote-robot-controller/**/expo-env.d.ts
# @end expo-cli

# flyctl launch added from scripts/tauri-app/.gitignore
# Logs
scripts/tauri-app/**/logs
scripts/tauri-app/**/*.log
scripts/tauri-app/**/npm-debug.log*
scripts/tauri-app/**/yarn-debug.log*
scripts/tauri-app/**/yarn-error.log*
scripts/tauri-app/**/pnpm-debug.log*
scripts/tauri-app/**/lerna-debug.log*

scripts/tauri-app/**/node_modules
scripts/tauri-app/**/dist
scripts/tauri-app/**/dist-ssr
scripts/tauri-app/**/*.local

# Editor directories and files
scripts/tauri-app/**/.vscode/*
!scripts/tauri-app/**/.vscode/extensions.json
scripts/tauri-app/**/.idea
scripts/tauri-app/**/.DS_Store
scripts/tauri-app/**/*.suo
scripts/tauri-app/**/*.ntvs*
scripts/tauri-app/**/*.njsproj
scripts/tauri-app/**/*.sln
scripts/tauri-app/**/*.sw?

# flyctl launch added from scripts/tauri-app/src-tauri/.gitignore
# Generated by Cargo
# will have compiled files and executables
scripts/tauri-app/src-tauri/target

# Generated by Tauri
# will have schema files for capabilities auto-completion
scripts/tauri-app/src-tauri/gen/schemas

# flyctl launch added from web/.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
web/node_modules
web/.pnp
web/**/.pnp.*
web/**/.yarn/*
!web/**/.yarn/patches
!web/**/.yarn/plugins
!web/**/.yarn/releases
!web/**/.yarn/versions

# testing
web/coverage

# next.js
web/.next
web/out

# production
web/build

# misc
web/**/.DS_Store
web/**/*.pem

# debug
web/**/npm-debug.log*
web/**/yarn-debug.log*
web/**/yarn-error.log*

# env files (can opt-in for committing if needed)
web/**/.env*

# vercel
web/**/.vercel

# typescript
web/**/*.tsbuildinfo
web/**/next-env.d.ts

web/**/*storybook.log

# flyctl launch added from web/node_modules/@livekit/components-core/node_modules/loglevel/vendor/grunt-template-jasmine-requirejs/tasks/.gitignore
# Ignore everything in this directory
web/node_modules/@livekit/components-core/node_modules/loglevel/vendor/grunt-template-jasmine-requirejs/tasks/**/*
# Except this file
!web/node_modules/@livekit/components-core/node_modules/loglevel/vendor/grunt-template-jasmine-requirejs/tasks/**/.gitignore

# flyctl launch added from web/node_modules/tailwindcss/stubs/.gitignore
!web/node_modules/tailwindcss/stubs/**/*
fly.toml
